@font-face {
    font-family: "yekanHsy";
    src: url("./../fonts/YekanBakh.woff");
}
@font-face {
    font-family: "samim";
    src: url("./../fonts/Samim.woff2");
}


* {
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
}

body{
    color: rgb(2, 48, 48);
    font-family: "yekanHsy";
    background-color: rgb(253, 234, 206);
    font-size: 16px;
}

.clear {
    clear: both;
}
.container {
    background-color: #ffffff;
    width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}
 
.motivation{
    font-family: samim;
    font-weight: 600;
    text-align: center;
    color: #5e0336;
    margin-top: 30px;
    font-size: 1rem;
    padding: 0px;
    }


header .profile .profile-image, header .profile .personal-info {
    float: right;
    height: 100px;
    }

header .profile .profile-image{
    width: 150px;
    text-align: center;
}

header .profile .personal-info{
    width: 710px;
}

header .profile .personal-info h4{
    color: rgb(37, 2, 66);
}
header .profile .personal-info ul{
    list-style: none;
    margin: 2px 0;
}

header .motivation{
    padding: 30px;
    font-size: 25px;
}

img{
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 100%;;
    border: 1px solid #aaa;
    vertical-align: middle;
    background: #fddbce;
     margin: 5px;
    
    }
    section #projects img{
        width: 100%;
        height: auto;
        
      }
    .img{
    margin-right:20px;
    float: right;
    width: 100px;
    height: 150px;
    border-radius: 100%;
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
.box-title{
    font-size: 35px;
    text-align: center;
}

#services{
    background: #bd5d38;
    padding: 30px;
    color: white !important;
    text-align: center;
}

#services .service-item{
    float: right;
    width: 280px;
}
#services  .service-title{
    text-align: center;
    font-size: 30px;
    color:black;
    font-weight: 400;
}
#services .service-description{
    text-align: center;
}